.planet-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.planet-image {
  width: 400px;
}
@media screen and (max-width: 768px){
    .planet-image{
        width: 300px;
    }
}
.planet-name {
  font-family: 'Roboto';
  color: #f8fafc;
  margin-top: 25px;
}
.description {
  font-family: 'Roboto';
  color: #f1f5f9;
}
